.lightbox {
  position:fixed;
  z-index: 4;
  top:0;
  right:0;
  left:0;
  height:100%;
  background: rgba(0,0,0,0.75);
  visibility:visible;
  opacity:1;
  transition: all ease-in 300ms;
}
 
.lightbox .content {
  font-style: normal;
  margin:10em 10em 2em 10em;
  padding: 0.1em 1em 1em 1em;
  border-radius:12px;  
  vertical-align: middle;
}